*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/build/generated/source/buildConfig/androidTest/debug/com/example/readsapp/test/BuildConfig.java
app/build/generated/source/buildConfig/debug/com/example/readsapp/BuildConfig.java
app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
app/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
app/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
app/build/outputs/logs/manifest-merger-debug-report.txt
app/build/generated/res/pngs/debug/drawable-hdpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-hdpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-hdpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-hdpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-hdpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-hdpi/ic_search_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-ldpi/ic_search_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-mdpi/ic_search_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xhdpi/ic_search_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_search_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_explore_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_flash_on_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_folder_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_library_books_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_person_black_24dp.png
app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_search_black_24dp.png
app/build/intermediates/app_classes/debug/bundleDebugClasses/classes.jar
app/build/intermediates/dex/debugAndroidTest/mergeDexDebugAndroidTest/out/classes.dex
app/build/intermediates/external_libs_dex/debugAndroidTest/mergeExtDexDebugAndroidTest/out/classes.dex
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+_xX1MAg2xfvcEvqMtTVwBb3Cmw=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/10hGAzcnw09Nb_mIho1Zvvo3I28=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/1Y_eY+ZD6kyoQt_8FTXalLOBYWA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2kgthhq+lynxXlaTpBROPdQsNxI=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2uemslrez2CdYKBOWCBMbjcgins=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3Rj+nSs4EWsQao+fCa3P4I0LrfQ=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3tCpqn2LoADebxnGRe+aPF0zsP0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5klzc9+4YOkI43e0QrwWKGRXjhY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/62bf1RZeNSzHGZwIfGTjt5YhOk0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6A7pwBAUVtEpKUGAveLUnn_g9N8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6wd8niM2S+z7YuKFIGuhVMRr8Xg=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8jcI_nx9fFsKKDF9EoXB7CZrpg0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8PRnfROIcg4KSWg8PVj8R3M5rtA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/99E4kPgnZw6RWaQyeVl5Tnk4qA0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/c541YvniE+TlzZY0vhy_qJY1RUg=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/d39G3_1JSzTKeMo467Vn2Ge_iJ8=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/dQMJ9d+WnD++bY8i_5kfMlIdOws=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ftlSTME6rOPw41xvHkYiKcAR4Lo=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Hx5fJX2cJP8sqldr1KKYj1Q9Zrs=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JBPA1FR7+xgGcu2YsIIx58x3YG0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/jVjmZURoayvZhgZJq8S9rYRO_Zo=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kirW_Hf4MVRd8hiovcs5GzHsLwU=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KUYDqVgwOuFgML9Ze5Jp8ru09B4=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lrVbCv4GHOwjNqZNPJ0E8uKMcgE=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/M6zWOdszIC33jdDig6v_QHjnef0=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qsbppD1QF1cugmZP3w546LYQcfA=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qXvC93zjGC7gNEHVe7GPWtohnSI=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UM4pozgFt0Jw7S45kx8QGjmiT9g=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/w8zvk4FqktXVHZutcte4w6+AK2Y=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/x7rk+SqWotTH_kY15352afQvgXY=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZcinyMcY_z0VI06XaDc0xiwYa0I=
app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZhvwymUQtrX6liQxj0hoa1xd8uQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+_xX1MAg2xfvcEvqMtTVwBb3Cmw=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/10hGAzcnw09Nb_mIho1Zvvo3I28=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/1Y_eY+ZD6kyoQt_8FTXalLOBYWA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/2kgthhq+lynxXlaTpBROPdQsNxI=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/2uemslrez2CdYKBOWCBMbjcgins=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/3Rj+nSs4EWsQao+fCa3P4I0LrfQ=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/3tCpqn2LoADebxnGRe+aPF0zsP0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/5klzc9+4YOkI43e0QrwWKGRXjhY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/62bf1RZeNSzHGZwIfGTjt5YhOk0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/6A7pwBAUVtEpKUGAveLUnn_g9N8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/6wd8niM2S+z7YuKFIGuhVMRr8Xg=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/8jcI_nx9fFsKKDF9EoXB7CZrpg0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/8PRnfROIcg4KSWg8PVj8R3M5rtA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/99E4kPgnZw6RWaQyeVl5Tnk4qA0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/c541YvniE+TlzZY0vhy_qJY1RUg=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/d39G3_1JSzTKeMo467Vn2Ge_iJ8=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/dQMJ9d+WnD++bY8i_5kfMlIdOws=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ftlSTME6rOPw41xvHkYiKcAR4Lo=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Hx5fJX2cJP8sqldr1KKYj1Q9Zrs=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/JBPA1FR7+xgGcu2YsIIx58x3YG0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/jVjmZURoayvZhgZJq8S9rYRO_Zo=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/kirW_Hf4MVRd8hiovcs5GzHsLwU=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/KUYDqVgwOuFgML9Ze5Jp8ru09B4=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/lrVbCv4GHOwjNqZNPJ0E8uKMcgE=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/M6zWOdszIC33jdDig6v_QHjnef0=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/qsbppD1QF1cugmZP3w546LYQcfA=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/qXvC93zjGC7gNEHVe7GPWtohnSI=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/UM4pozgFt0Jw7S45kx8QGjmiT9g=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/w8zvk4FqktXVHZutcte4w6+AK2Y=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/x7rk+SqWotTH_kY15352afQvgXY=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ZcinyMcY_z0VI06XaDc0xiwYa0I=
app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ZhvwymUQtrX6liQxj0hoa1xd8uQ=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/merge-state
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/2rikEDlP96EOBg4Nin+he6gPKYk=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/66oSf5vfI50BkhCsCLoY3q2b6GQ=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/b8XlCrP7fmEXynXY+AnVzafZAmE=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/Bb7NCLTHxebATAQdQzzzpaAEAQg=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/Bmym1ZXXzlwLCQLcvvXBIyVtW7s=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/btoNCtLKtsomWmS0SbJHRs341T8=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/Cmiehw4s8v4OZV02Ajq5Mh1LXaQ=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/fVIlzjxBaKDiNMFzYztrdy5Voeo=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/gWBuypUUAMCzgV++sjUx0rpBx50=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/KdyVfa7gWo46DPtGVeKaIm91oj8=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/mIlIhLBHxWphVIg7feapZOcBEzk=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/OUiJZ0c5EF7CKP9KblOgePn2hFI=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/RUubAhf8ymqJI8wys_ghitTtWLE=
app/build/intermediates/incremental/debugAndroidTest-mergeJavaRes/zip-cache/zYfkuXlxI3S+PPlZStjlgRjlSZI=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/merge-state
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/2rikEDlP96EOBg4Nin+he6gPKYk=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/66oSf5vfI50BkhCsCLoY3q2b6GQ=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/b8XlCrP7fmEXynXY+AnVzafZAmE=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/Bb7NCLTHxebATAQdQzzzpaAEAQg=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/Bmym1ZXXzlwLCQLcvvXBIyVtW7s=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/btoNCtLKtsomWmS0SbJHRs341T8=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/Cmiehw4s8v4OZV02Ajq5Mh1LXaQ=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/fVIlzjxBaKDiNMFzYztrdy5Voeo=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/gWBuypUUAMCzgV++sjUx0rpBx50=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/KdyVfa7gWo46DPtGVeKaIm91oj8=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/mIlIhLBHxWphVIg7feapZOcBEzk=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/OUiJZ0c5EF7CKP9KblOgePn2hFI=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/RUubAhf8ymqJI8wys_ghitTtWLE=
app/build/intermediates/incremental/debugAndroidTest-mergeNativeLibs/zip-cache/zYfkuXlxI3S+PPlZStjlgRjlSZI=
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/+gyVUhgqh7Znl3n0iQAVA8vqrsE=
app/build/intermediates/incremental/packageDebug/tmp/debug/zip-cache/Z56g6_sFMN2UvKtxF5a1e1scNn8=
app/build/intermediates/incremental/packageDebugAndroidTest/tmp/debugAndroidTest/dex-renamer-state.txt
app/build/intermediates/incremental/packageDebugAndroidTest/tmp/debugAndroidTest/zip-cache/EEk8PPQdaRb0jE+2cKu9uF1w_zY=
app/build/intermediates/incremental/packageDebugAndroidTest/tmp/debugAndroidTest/zip-cache/tTQNQM0KUmDz6sMShtO7PTof2L0=
app/build/intermediates/javac/debug/classes/androidx/activity/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$color.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$id.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$string.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$style.class
app/build/intermediates/javac/debug/classes/androidx/activity/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/activity/R.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/R$interpolator.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$color.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$id.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$string.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$style.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/appcompat/resources/R.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R$color.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R$style.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/cardview/R.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$color.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$id.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$string.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$style.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/recyclerview/R.class
app/build/intermediates/javac/debug/classes/androidx/savedstate/R.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$color.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$id.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$string.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$style.class
app/build/intermediates/javac/debug/classes/androidx/transition/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/transition/R.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$color.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$id.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$string.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$style.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/vectordrawable/animated/R.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$attr.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$color.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$dimen.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$drawable.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$id.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$integer.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$layout.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$string.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$style.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R$styleable.class
app/build/intermediates/javac/debug/classes/androidx/viewpager2/R.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/activities/MainActivity$1.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/activities/MainActivity.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/fragments/ChallengesFragment.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/fragments/DiscoverFragment.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/fragments/ListsFragment.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/fragments/ProfileFragment.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/fragments/SearchFragment.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/R$animator.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/R$interpolator.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/R$menu.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/R$plurals.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/R$xml.class
app/build/intermediates/javac/debug/classes/com/example/readsapp/services/OpenLibraryService.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$anim.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$animator.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$attr.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$bool.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$color.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$dimen.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$drawable.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$id.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$integer.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$interpolator.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$layout.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$plurals.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$string.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$style.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$styleable.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R$xml.class
app/build/intermediates/javac/debug/classes/com/google/android/material/R.class
app/build/intermediates/javac/debugAndroidTest/classes/androidx/test/core/R.class
app/build/intermediates/javac/debugAndroidTest/classes/androidx/test/espresso/R.class
app/build/intermediates/javac/debugAndroidTest/classes/androidx/test/ext/junit/R.class
app/build/intermediates/javac/debugAndroidTest/classes/androidx/test/R.class
app/build/intermediates/javac/debugAndroidTest/classes/com/example/readsapp/ExampleInstrumentedTest.class
app/build/intermediates/javac/debugAndroidTest/classes/com/example/readsapp/ServiceTest.class
app/build/intermediates/javac/debugAndroidTest/classes/com/example/readsapp/test/BuildConfig.class
app/build/intermediates/javac/debugAndroidTest/classes/com/example/readsapp/test/R.class
app/build/intermediates/javac/debugUnitTest/classes/com/example/readsapp/ExampleUnitTest.class
app/build/intermediates/res/merged/debug/color_checkbox_themeable_attribute_color.xml.flat
app/build/intermediates/res/merged/debug/color_design_box_stroke_color.xml.flat
app/build/intermediates/res/merged/debug/color_design_error.xml.flat
app/build/intermediates/res/merged/debug/color_design_icon_tint.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_background_disabled.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_background_emphasis_high_type.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_background_emphasis_medium.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_primary_disabled.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_primary_emphasis_high_type.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_primary_emphasis_medium.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_surface_disabled.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_surface_emphasis_high_type.xml.flat
app/build/intermediates/res/merged/debug/color_material_on_surface_emphasis_medium.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_bottom_nav_colored_item_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_bottom_nav_colored_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_bottom_nav_item_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_bottom_nav_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_bg_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_stroke_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_text_btn_bg_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_text_btn_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_btn_text_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_calendar_item_stroke_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_calendar_selected_range.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_card_view_foreground.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_card_view_ripple.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_chip_background_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_chip_close_icon_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_chip_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_chip_surface_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_chip_text_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_choice_chip_background_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_choice_chip_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_choice_chip_text_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_error.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_extended_fab_bg_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_extended_fab_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_extended_fab_text_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_fab_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_filled_background_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_filled_icon_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_filled_stroke_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_indicator_text_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_navigation_item_background_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_navigation_item_icon_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_navigation_item_text_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_on_primary_text_btn_text_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_outlined_icon_tint.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_outlined_stroke_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_popupmenu_overlay_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_tabs_colored_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_tabs_icon_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_tabs_icon_color_selector_colored.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_tabs_legacy_text_color_selector.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_tabs_ripple_color.xml.flat
app/build/intermediates/res/merged/debug/color_mtrl_text_btn_text_color_selector.xml.flat
app/build/intermediates/res/merged/debug/drawable-hdpi-v4_design_ic_visibility.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi-v4_design_ic_visibility_off.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_explore_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_flash_on_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_folder_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_library_books_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_person_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-hdpi_ic_search_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_explore_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_flash_on_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_folder_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_library_books_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_person_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-ldpi_ic_search_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-mdpi-v4_design_ic_visibility.png.flat
app/build/intermediates/res/merged/debug/drawable-mdpi-v4_design_ic_visibility_off.png.flat
app/build/intermediates/res/merged/debug/drawable-mdpi_ic_explore_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-mdpi_ic_flash_on_black_24dp.png.flat
app/build/intermediates/res/merged/debug/drawable-mdpi_ic_folder_black_24dp.png.flat
