*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/build/generated/source/buildConfig/androidTest/debug/com/example/readsapp/test/BuildConfig.java
app/build/generated/source/buildConfig/debug/com/example/readsapp/BuildConfig.java
app/build/intermediates/bundle_manifest/debug/processDebugManifest/bundle-manifest/AndroidManifest.xml
app/build/intermediates/instant_app_manifest/debug/AndroidManifest.xml
app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
app/build/intermediates/manifest_merge_blame_file/debugAndroidTest/manifest-merger-blame-debug-androidTest-report.txt
app/build/intermediates/merged_manifests/debug/AndroidManifest.xml
app/build/intermediates/merged_manifests/debugAndroidTest/AndroidManifest.xml
app/build/outputs/logs/manifest-merger-debug-report.txt
